<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>People</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/yeti/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootlint@1.1.0/dist/browser/bootlint.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container col-10">
    <h1><b>Management</b></h1>
    <hr>
    <a th:if="${curperson.role.name()}=='ADMIN'" th:href="@{/person/add}" class="btn btn-primary">Add person</a>
    <a th:href="@{/home}" class="btn btn-primary">Back</a>
    <hr>
    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Surname</th>
            <th>Firstname</th>
            <th>Login</th>
            <th>Role</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${listPeople}" th:if="${person.isExistence()==true}">
            <td th:text="${person.surname}"></td>
            <td th:text="${person.firstname}"></td>
            <td th:text="${person.getPersonLogin().getLogin()}"></td>
            <td th:text="${person.role}"></td>
            <td th:text="${person.status}"></td>
            <td>
                <a th:if="${curperson.role.name()}=='ADMIN'" th:href="@{/person/update/{id}(id=${person.id})}"
                   class="btn btn-primary">Update</a>
                <a th:if="${curperson.role.name()}=='ADMIN'" th:href="@{/person/delete/{id}(id=${person.id})}"
                   style="background-color: indianred" class="btn btn-primary">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
</div>
</body>
</html>