<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Message</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/yeti/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootlint@1.1.0/dist/browser/bootlint.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container col-10">
    <h1 th:if="${message.author} != ${curperson.getPersonLogin().getLogin()}">
        <strong th:text="'Message from' + ' ' + ${message.getAuthorPersonLogin().getPerson().getFirstname()} + ' ' + ${message.getAuthorPersonLogin().getPerson().getSurname()}"></strong>
    </h1>
    <h1 th:if="${message.author} == ${curperson.getPersonLogin().getLogin()}">
        <strong th:text="'Message from you'"></strong>
    </h1>
    <hr>
    <form>
        <body>
        <h1>
            <label>Topic</label>
            <input type="text" style="font-size:15px;" readonly="readonly"
                   th:field="${message.topic}" class="form-control mb-4 col-2">

            <label th:if="${message.author} != ${curperson.getPersonLogin().getLogin()}">Sender</label>
            <input th:if="${message.author} != ${curperson.getPersonLogin().getLogin()}" type="text" style="font-size:15px;"
                   readonly="readonly"
                   th:field="${message.author}" class="form-control mb-4 col-2">
            <label>Message content</label>
            <br>
            <textarea data-cke-saved-name=" " rows="10" cols="100" style="font-size:15px;"
                      readonly="readonly" th:field="${message.content}" class="form-control mb-4 col-6"></textarea>
        </h1>
        </body>
    </form>
    <p>
    <form id="back" action="#" th:action="@{/home}" method="GET"></form>
    <table style="width:100%;">
        <tr>
            <td style="text-align: right;">
                <button id="back_button" type="submit" class="btn btn-info col-2" data-icon="back">Back</button>
            </td>
        </tr>
    </table>
</div>
<script>
    document.getElementById('back_button').addEventListener('click', () => document.getElementById('back').submit());
</script>
</body>
</html>